body {
  font-family: Kantumruy Pro;
}
.display-1 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 2.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-2 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 3.6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-4 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.125rem;
}
.display-7 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.82rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #d91717 !important;
}
.bg-success {
  background-color: #eff0ff !important;
}
.bg-info {
  background-color: #0000ff !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary {
  border: 5px solid #d1d1f7 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #d91717 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d91717 !important;
}
.btn-primary:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-secondary {
  border: 5px solid #d1d1f7 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
  color: #1e1eab !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
}
.btn-secondary:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-info {
  border: 5px solid #d1d1f7 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0000ff !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #0000ff !important;
}
.btn-info:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-success {
  border: 5px solid #d1d1f7 !important;
}
.btn-success,
.btn-success:active {
  background-color: #eff0ff !important;
  border-color: #d1d1f7 !important;
  color: #000fef !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #eff0ff !important;
}
.btn-success:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-warning {
  border: 5px solid #d1d1f7 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #d1d1f7 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-warning:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-danger {
  border: 5px solid #d1d1f7 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-white {
  border: 5px solid #d1d1f7 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #d1d1f7 !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-black {
  border: 5px solid #d1d1f7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #d1d1f7 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #d1d1f7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black:hover {
  box-shadow: 0px 0px 30px 0px rgba(86, 90, 221, 0.3) !important;
  transform: scale(1.02) translateY(-2px);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d91717;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #8b0f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #d91717 !important;
  border-color: #d91717 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d1d1f7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #8787ea !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #1e1eab !important;
  background-color: #d1d1f7 !important;
  border-color: #d1d1f7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0000ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0000a8 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0000ff !important;
  border-color: #0000ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #eff0ff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #989fff !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000fef !important;
  background-color: #eff0ff !important;
  border-color: #eff0ff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #d91717 !important;
}
.text-secondary {
  color: #d1d1f7 !important;
}
.text-success {
  color: #eff0ff !important;
}
.text-info {
  color: #0000ff !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7d0d0d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #7a7ae8 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #8990ff !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000099 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #d91717;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0000ff;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #d91717;
  border-color: #d91717;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #d91717;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9c3c3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ccccff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #d91717 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #d91717;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #d91717;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #d91717;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #d91717;
  border-bottom-color: #d91717;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #d91717 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d1d1f7 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23d91717' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tjQDC0fgGE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/parejas-64.webp");
}
.cid-tjQDC0fgGE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjQDC0fgGE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjQDC0fgGE .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tjQDC0fgGE .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tjQDC0fgGE .row {
  align-items: center;
}
.cid-tjQDC0fgGE img {
  border-radius: 2rem;
}
.cid-tjQDC0fgGE .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tjQDC0fgGE .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tjQDC0fgGE .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tjQDC0fgGE .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tjQDC0fgGE .mbr-section-title {
  color: #d91717;
}
.cid-tjQDC0fgGE .mbr-text,
.cid-tjQDC0fgGE .mbr-section-btn {
  color: #e3f3ff;
}
.cid-tjRuN2Wm8v {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tjRuN2Wm8v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tjRuN2Wm8v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tjRuN2Wm8v .mbr-text {
  color: #eff0ff;
}
.cid-tjRuN2Wm8v .mbr-section-title {
  color: #000000;
}
.cid-tjRuN2Wm8v .mbr-section-subtitle {
  color: #d91717;
}
.cid-tHYQYfnwR2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/parejas-83.webp");
}
.cid-tHYQYfnwR2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYQYfnwR2 img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHYQYfnwR2 img {
    margin-top: 2rem;
  }
}
.cid-tHYQYfnwR2 .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHYQYfnwR2 .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHYQYfnwR2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYQYfnwR2 .mbr-text,
.cid-tHYQYfnwR2 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHYQYfnwR2 .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHYQYfnwR2 .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHFiec6ZAn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/amor-148.webp");
}
.cid-tHFiec6ZAn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHFiec6ZAn img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHFiec6ZAn img {
    margin-top: 2rem;
  }
}
.cid-tHFiec6ZAn .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHFiec6ZAn .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHFiec6ZAn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHFiec6ZAn .mbr-text,
.cid-tHFiec6ZAn .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHFiec6ZAn .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHFiec6ZAn .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHYS8HPh4r {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/amor-146.webp");
}
.cid-tHYS8HPh4r .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYS8HPh4r img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHYS8HPh4r img {
    margin-top: 2rem;
  }
}
.cid-tHYS8HPh4r .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHYS8HPh4r .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHYS8HPh4r .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYS8HPh4r .mbr-text,
.cid-tHYS8HPh4r .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHYS8HPh4r .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHYS8HPh4r .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHYXFCgEAn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHYXFCgEAn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYXFCgEAn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYXFCgEAn .container-fluid {
  padding: 0 120px;
}
@media (max-width: 768px) {
  .cid-tHYXFCgEAn .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 768px) {
  .cid-tHYXFCgEAn .container {
    padding: 0 26px;
  }
}
.cid-tHYXFCgEAn .row {
  padding: 60px;
  margin: 0;
  border: 1px solid #d91717;
  padding: 120px 60px 60px 30px;
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .row {
    padding: 120px 30px;
  }
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .row {
    padding: 26px;
  }
}
.cid-tHYXFCgEAn .title-wrapper {
  margin-bottom: 50px;
}
.cid-tHYXFCgEAn .title-wrapper .title-wrap {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .title-wrapper .title-wrap {
    display: block;
  }
}
.cid-tHYXFCgEAn .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-tHYXFCgEAn .title-wrapper .title-wrap .logo-wrap {
  margin: 0 16px;
}
.cid-tHYXFCgEAn .title-wrapper .title-wrap .logo-wrap img {
  width: 110px;
  height: 100px;
  object-fit: contain;
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .title-wrapper .title-wrap .logo-wrap img {
    margin: 0 auto;
  }
}
.cid-tHYXFCgEAn .nav-wrapper {
  margin-bottom: 50px;
}
.cid-tHYXFCgEAn .nav-wrapper .list {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .nav-wrapper .list {
    display: block;
  }
}
.cid-tHYXFCgEAn .nav-wrapper .list .item-wrap {
  margin-right: 56px;
  margin-bottom: 0;
  padding-bottom: 2px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tHYXFCgEAn .nav-wrapper .list .item-wrap {
    margin: 0;
  }
}
.cid-tHYXFCgEAn .nav-wrapper .list .item-wrap:hover::before {
  width: 100%;
}
.cid-tHYXFCgEAn .nav-wrapper .list .item-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #d91717;
  transition: all 0.3s ease-in-out;
}
.cid-tHYXFCgEAn .nav-wrapper .list .item-wrap:last-child {
  margin-right: 0;
}
.cid-tHYXFCgEAn .soc-wrapper {
  margin-bottom: 50px;
}
.cid-tHYXFCgEAn .soc-wrapper .social-row {
  display: inline-flex;
}
.cid-tHYXFCgEAn .soc-wrapper .social-row .soc-item {
  margin-left: 24px;
}
.cid-tHYXFCgEAn .soc-wrapper .social-row .soc-item:first-child {
  margin-left: 0;
}
.cid-tHYXFCgEAn .soc-wrapper .social-row .soc-item a:hover .mbr-iconfont {
  display: inline-flex;
  transform: translateY(-5px);
}
.cid-tHYXFCgEAn .soc-wrapper .social-row .soc-item a .mbr-iconfont {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.cid-tHYXFCgEAn .copy-wrapper .copyright {
  margin-bottom: 0;
}
.cid-tHYXFCgEAn .mbr-section-title,
.cid-tHYXFCgEAn .title-wrapper {
  color: #d91717;
  text-align: center;
}
.cid-tHYXFCgEAn .list {
  color: #ffffff;
}
.cid-tHYXFCgEAn .copyright {
  color: #cacaca;
  text-align: center;
}
.cid-tHYXFCgEAn .list,
.cid-tHYXFCgEAn .nav-wrapper,
.cid-tHYXFCgEAn .soc-wrapper {
  text-align: center;
}
.cid-tHYYcjMbb1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pactos-118.webp");
}
.cid-tHYYcjMbb1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYcjMbb1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYcjMbb1 .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tHYYcjMbb1 .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tHYYcjMbb1 .row {
  align-items: center;
}
.cid-tHYYcjMbb1 img {
  border-radius: 2rem;
}
.cid-tHYYcjMbb1 .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tHYYcjMbb1 .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tHYYcjMbb1 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tHYYcjMbb1 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHYYcjMbb1 .mbr-section-title {
  color: #d91717;
}
.cid-tHYYcjMbb1 .mbr-text,
.cid-tHYYcjMbb1 .mbr-section-btn {
  color: #ffffff;
}
.cid-tHYYckaoCa {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tHYYckaoCa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYckaoCa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYckaoCa .mbr-text {
  color: #ffffff;
}
.cid-tHYYckaoCa .mbr-section-title {
  color: #000000;
}
.cid-tHYYckaoCa .mbr-section-subtitle {
  color: #d91717;
}
.cid-tHYYckp3rj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-292.webp");
}
.cid-tHYYckp3rj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYckp3rj img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHYYckp3rj img {
    margin-top: 2rem;
  }
}
.cid-tHYYckp3rj .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHYYckp3rj .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHYYckp3rj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYckp3rj .mbr-text,
.cid-tHYYckp3rj .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-tHYYckp3rj .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHYYckp3rj .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHYYckBlve {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-270.webp");
}
.cid-tHYYckBlve .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYckBlve img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHYYckBlve img {
    margin-top: 2rem;
  }
}
.cid-tHYYckBlve .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHYYckBlve .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHYYckBlve .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYckBlve .mbr-text,
.cid-tHYYckBlve .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHYYckBlve .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHYYckBlve .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHYYckP0zY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/pactos-341.webp");
}
.cid-tHYYckP0zY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYckP0zY img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHYYckP0zY img {
    margin-top: 2rem;
  }
}
.cid-tHYYckP0zY .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHYYckP0zY .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHYYckP0zY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYckP0zY .mbr-text,
.cid-tHYYckP0zY .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHYYckP0zY .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHYYckP0zY .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHYYcl1mr4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHYYcl1mr4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHYYcl1mr4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHYYcl1mr4 .container-fluid {
  padding: 0 120px;
}
@media (max-width: 768px) {
  .cid-tHYYcl1mr4 .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 768px) {
  .cid-tHYYcl1mr4 .container {
    padding: 0 26px;
  }
}
.cid-tHYYcl1mr4 .row {
  padding: 60px;
  margin: 0;
  border: 1px solid #d91717;
  padding: 120px 60px 60px 30px;
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .row {
    padding: 120px 30px;
  }
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .row {
    padding: 26px;
  }
}
.cid-tHYYcl1mr4 .title-wrapper {
  margin-bottom: 50px;
}
.cid-tHYYcl1mr4 .title-wrapper .title-wrap {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .title-wrapper .title-wrap {
    display: block;
  }
}
.cid-tHYYcl1mr4 .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-tHYYcl1mr4 .title-wrapper .title-wrap .logo-wrap {
  margin: 0 16px;
}
.cid-tHYYcl1mr4 .title-wrapper .title-wrap .logo-wrap img {
  width: 110px;
  height: 100px;
  object-fit: contain;
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .title-wrapper .title-wrap .logo-wrap img {
    margin: 0 auto;
  }
}
.cid-tHYYcl1mr4 .nav-wrapper {
  margin-bottom: 50px;
}
.cid-tHYYcl1mr4 .nav-wrapper .list {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .nav-wrapper .list {
    display: block;
  }
}
.cid-tHYYcl1mr4 .nav-wrapper .list .item-wrap {
  margin-right: 56px;
  margin-bottom: 0;
  padding-bottom: 2px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tHYYcl1mr4 .nav-wrapper .list .item-wrap {
    margin: 0;
  }
}
.cid-tHYYcl1mr4 .nav-wrapper .list .item-wrap:hover::before {
  width: 100%;
}
.cid-tHYYcl1mr4 .nav-wrapper .list .item-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #d91717;
  transition: all 0.3s ease-in-out;
}
.cid-tHYYcl1mr4 .nav-wrapper .list .item-wrap:last-child {
  margin-right: 0;
}
.cid-tHYYcl1mr4 .soc-wrapper {
  margin-bottom: 50px;
}
.cid-tHYYcl1mr4 .soc-wrapper .social-row {
  display: inline-flex;
}
.cid-tHYYcl1mr4 .soc-wrapper .social-row .soc-item {
  margin-left: 24px;
}
.cid-tHYYcl1mr4 .soc-wrapper .social-row .soc-item:first-child {
  margin-left: 0;
}
.cid-tHYYcl1mr4 .soc-wrapper .social-row .soc-item a:hover .mbr-iconfont {
  display: inline-flex;
  transform: translateY(-5px);
}
.cid-tHYYcl1mr4 .soc-wrapper .social-row .soc-item a .mbr-iconfont {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.cid-tHYYcl1mr4 .copy-wrapper .copyright {
  margin-bottom: 0;
}
.cid-tHYYcl1mr4 .mbr-section-title,
.cid-tHYYcl1mr4 .title-wrapper {
  color: #d91717;
  text-align: center;
}
.cid-tHYYcl1mr4 .list {
  color: #ffffff;
}
.cid-tHYYcl1mr4 .copyright {
  color: #cacaca;
  text-align: center;
}
.cid-tHYYcl1mr4 .list,
.cid-tHYYcl1mr4 .nav-wrapper,
.cid-tHYYcl1mr4 .soc-wrapper {
  text-align: center;
}
.cid-tHZ1iWKKIK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/limpias-153.webp");
}
.cid-tHZ1iWKKIK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iWKKIK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iWKKIK .btn {
  padding: 1.5rem 5rem;
  border: 0 !important;
}
@media (max-width: 767px) {
  .cid-tHZ1iWKKIK .btn {
    padding: 1.5rem 3rem;
  }
}
.cid-tHZ1iWKKIK .row {
  align-items: center;
}
.cid-tHZ1iWKKIK img {
  border-radius: 2rem;
}
.cid-tHZ1iWKKIK .image-wrapper {
  background: #d91717;
  padding: 4rem 5rem;
  border-radius: 2rem;
}
@media (max-width: 991px) {
  .cid-tHZ1iWKKIK .image-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tHZ1iWKKIK .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tHZ1iWKKIK .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tHZ1iWKKIK .mbr-section-title {
  color: #d91717;
}
.cid-tHZ1iWKKIK .mbr-text,
.cid-tHZ1iWKKIK .mbr-section-btn {
  color: #ffffff;
}
.cid-tHZ1iX7HMX {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tHZ1iX7HMX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iX7HMX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iX7HMX .mbr-text {
  color: #ffffff;
}
.cid-tHZ1iX7HMX .mbr-section-title {
  color: #000000;
}
.cid-tHZ1iX7HMX .mbr-section-subtitle {
  color: #d91717;
}
.cid-tHZ1iXndRF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-237.webp");
}
.cid-tHZ1iXndRF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iXndRF img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHZ1iXndRF img {
    margin-top: 2rem;
  }
}
.cid-tHZ1iXndRF .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHZ1iXndRF .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHZ1iXndRF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iXndRF .mbr-text,
.cid-tHZ1iXndRF .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-tHZ1iXndRF .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHZ1iXndRF .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHZ1iXzEmg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-22.webp");
}
.cid-tHZ1iXzEmg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iXzEmg img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHZ1iXzEmg img {
    margin-top: 2rem;
  }
}
.cid-tHZ1iXzEmg .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHZ1iXzEmg .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHZ1iXzEmg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iXzEmg .mbr-text,
.cid-tHZ1iXzEmg .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHZ1iXzEmg .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHZ1iXzEmg .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHZ1iXNWy4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/limpias-263.webp");
}
.cid-tHZ1iXNWy4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iXNWy4 img {
  border-radius: 2rem;
  margin-top: 6rem;
  box-shadow: 0 0 100px 0 #d91717;
}
@media (max-width: 767px) {
  .cid-tHZ1iXNWy4 img {
    margin-top: 2rem;
  }
}
.cid-tHZ1iXNWy4 .row {
  background: #000000;
  border-radius: 4rem;
  padding: 8rem 1rem;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tHZ1iXNWy4 .row {
    border-radius: 2rem;
    padding: 2rem 1rem;
  }
}
.cid-tHZ1iXNWy4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iXNWy4 .mbr-text,
.cid-tHZ1iXNWy4 .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tHZ1iXNWy4 .mbr-section-title {
  text-align: center;
  color: #d91717;
}
.cid-tHZ1iXNWy4 .mbr-section-subtitle {
  text-align: center;
  color: #ffffff;
}
.cid-tHZ1iXZ7gn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tHZ1iXZ7gn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHZ1iXZ7gn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHZ1iXZ7gn .container-fluid {
  padding: 0 120px;
}
@media (max-width: 768px) {
  .cid-tHZ1iXZ7gn .container-fluid {
    padding: 0 26px;
  }
}
@media (max-width: 768px) {
  .cid-tHZ1iXZ7gn .container {
    padding: 0 26px;
  }
}
.cid-tHZ1iXZ7gn .row {
  padding: 60px;
  margin: 0;
  border: 1px solid #d91717;
  padding: 120px 60px 60px 30px;
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .row {
    padding: 120px 30px;
  }
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .row {
    padding: 26px;
  }
}
.cid-tHZ1iXZ7gn .title-wrapper {
  margin-bottom: 50px;
}
.cid-tHZ1iXZ7gn .title-wrapper .title-wrap {
  display: inline-flex;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .title-wrapper .title-wrap {
    display: block;
  }
}
.cid-tHZ1iXZ7gn .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-tHZ1iXZ7gn .title-wrapper .title-wrap .logo-wrap {
  margin: 0 16px;
}
.cid-tHZ1iXZ7gn .title-wrapper .title-wrap .logo-wrap img {
  width: 110px;
  height: 100px;
  object-fit: contain;
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .title-wrapper .title-wrap .logo-wrap img {
    margin: 0 auto;
  }
}
.cid-tHZ1iXZ7gn .nav-wrapper {
  margin-bottom: 50px;
}
.cid-tHZ1iXZ7gn .nav-wrapper .list {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .nav-wrapper .list {
    display: block;
  }
}
.cid-tHZ1iXZ7gn .nav-wrapper .list .item-wrap {
  margin-right: 56px;
  margin-bottom: 0;
  padding-bottom: 2px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tHZ1iXZ7gn .nav-wrapper .list .item-wrap {
    margin: 0;
  }
}
.cid-tHZ1iXZ7gn .nav-wrapper .list .item-wrap:hover::before {
  width: 100%;
}
.cid-tHZ1iXZ7gn .nav-wrapper .list .item-wrap::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #d91717;
  transition: all 0.3s ease-in-out;
}
.cid-tHZ1iXZ7gn .nav-wrapper .list .item-wrap:last-child {
  margin-right: 0;
}
.cid-tHZ1iXZ7gn .soc-wrapper {
  margin-bottom: 50px;
}
.cid-tHZ1iXZ7gn .soc-wrapper .social-row {
  display: inline-flex;
}
.cid-tHZ1iXZ7gn .soc-wrapper .social-row .soc-item {
  margin-left: 24px;
}
.cid-tHZ1iXZ7gn .soc-wrapper .social-row .soc-item:first-child {
  margin-left: 0;
}
.cid-tHZ1iXZ7gn .soc-wrapper .social-row .soc-item a:hover .mbr-iconfont {
  display: inline-flex;
  transform: translateY(-5px);
}
.cid-tHZ1iXZ7gn .soc-wrapper .social-row .soc-item a .mbr-iconfont {
  font-size: 22px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.cid-tHZ1iXZ7gn .copy-wrapper .copyright {
  margin-bottom: 0;
}
.cid-tHZ1iXZ7gn .mbr-section-title,
.cid-tHZ1iXZ7gn .title-wrapper {
  color: #d91717;
  text-align: center;
}
.cid-tHZ1iXZ7gn .list {
  color: #ffffff;
}
.cid-tHZ1iXZ7gn .copyright {
  color: #cacaca;
  text-align: center;
}
.cid-tHZ1iXZ7gn .list,
.cid-tHZ1iXZ7gn .nav-wrapper,
.cid-tHZ1iXZ7gn .soc-wrapper {
  text-align: center;
}
